.App h1::before {
  content: "# ";
  color: #2979ff;
}

Footer {
  height: 20vh;
  background-color: gray;
}
/* 
nav {
	height: 5vh;
	background-color: gray;
} */

.home {
  width: auto;
}
.home__section {
  height: 100vh;
}

#map {
  height: 110%;
}

.map {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
}

.map__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

/* .map__container--toggle {
	height: 100vh;
} */

.map__search {
  align-self: flex-start;
  z-index: 10;
  width: 100%;
  padding: 1rem;
}

.map__button--add {
  z-index: 10;
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  padding: 1rem;
  background-color: #ff8c39 !important;
  box-shadow: -0.1rem 0.1rem 0.2rem rgb(0, 0, 0, 0.2);
  border: none !important;
  color: white;
}

/* .map__chat {
  justify-self: flex-end;
  z-index: 10;
} */

.sidebar {
  position: absolute;
  right: -50vw;
  width: 50vw;
  height: 100%;
  max-width: 800px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem 0 0 1rem;
  transition: all 0.2s ease-in-out;
  box-shadow: -0.3rem 0 0.3rem rgb(0, 0, 0, 0.1);
  z-index: 10;
}

.sidebar--show {
  right: 0vw;
}

.sidebar__toggle {
  box-shadow: -0.1rem 0.1rem 0.2rem rgb(0, 0, 0, 0.2);
  background-color: white !important;
  border: none !important;
  color: black !important;
  position: absolute;
  top: 95vh;
  left: -3rem;
  z-index: 10;
  height: 2rem;
  width: 2rem;
}

.sidebar__content {
  overflow-y: scroll;
}

.bi-arrow-bar-left {
  transition: all 0.2s ease-in-out;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: black !important;
}

.alert {
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
  z-index: 11;
}

.days__button {
  color: #ff8c39 !important;
  border-color: #ff8c39 !important;
  text-transform: capitalize;
  z-index: 1 !important;
}

.days__button:active,
.days__button:hover,
.btn-add,
.active {
  background-color: #ff8c39 !important;
  color: white !important;
  z-index: 1 !important;
}

.days__button:focus,
input:focus,
select:focus {
  outline: 3px solid #fec297 !important;
  box-shadow: none !important;
  z-index: 10 !important;
}

@media only screen and (max-width: 600px) {
  /* #map {
    height: 110%;
  } */

  .map {
    display: block;
    overflow: hidden;
    /* height: 93vh; */
  }
  .map__container {
    position: relative;
  }
  .map__container--toggle {
    transition: all 0.2s ease-in-out;
    height: 45vh;
  }

  .map__search {
    position: absolute;
    top: 0;
  }

  .map__button--add {
    position: relative;
    bottom: 10vh;
  }

  .sidebar {
    /* position: relative; */
    right: 0vw;
    left: 0vw;
    top: 100vh;
    max-width: max-content;
    width: max-content;
    height: 55vh;
    border-radius: 2rem 2rem 0 0;
  }

  .sidebar--show {
    top: 44.5vh;
  }

  .sidebar__toggle {
    top: -10vh;
    left: 85vw;
    z-index: 100;
  }

  .sidebar__content {
    width: 100vw;
    height: 100%;
    border-radius: 1rem 1rem 0 0 !important;
  }
}
